---
import Card from "../cards/Card.astro";
import LangsInfo from "./LangsInfo.astro";
import Bio from "./Bio.astro";
import Title from "../utils/Title.astro";
import Avatar from "./Avatar.astro";
---

<div id="about-me"></div>
<article class="pt-24 px-4 flex flex-col gap-2">
  <Card padding="2.5rem">
    <div class="flex gap-x-5">
      <div class="flex flex-col gap-5 w-full">
        <!--  Title  -->
        <Title>Sobre mí</Title>
        <div class="flex about-content gap-5">
          <div class="text-wrap flex flex-col gap-y-2">
            <!--  Bio Text  -->
            <Bio class="flex flex-col gap-2 basis-3/4" />
          </div>
          <!--  Avatar Mobile -->
          <div class="content-avatar-mobile justify-center">
            <Avatar />
          </div>
        </div>
      </div>
      <div class="content-avatar flex items-center justify-center w-[40%] pt-6">
        <!--  Avatar  -->
        <Avatar />
      </div>
    </div>
  </Card>
  <div class="p-[2.5rem]">
    <!--  Langs & Tech Info  -->
    <LangsInfo />
  </div>
</article>

<style>
  .content-avatar-mobile {
    display: none;
  }
  @media (width <= 1250px) {
    .content-avatar {
      display: none;
    }
    .content-avatar-mobile {
      display: flex;
    }
    .about-content {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
</style>
