---
import DownloadButton from "../buttons/DownloadButton.astro";
---

<div class="flex flex-col justify-center gap-4 w-fit">
  <div class="bg-[--secondary-border-color] rounded-xl h-fit w-fit p-1">
    <img
      class="avatar bg-[--secondary-bg-color] rounded-[--nested-radius]"
      src="/images/avatar.webp"
      alt="Foto de Gabriel Alberto García Pellizzón"
      title="Foto de Gabriel Alberto García Pellizzón"
      width="300px"
      height="300px"
    />
  </div>
  <!--  Download CV Button  -->
  <DownloadButton />
</div>

<style>
  .content-avatar {
    --nested-radius: calc(0.75rem - 0.25rem); /* radius outside - padding */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .avatar {
    width: 100%;
    max-width: 250px;
  }
  .content-avatar {
    width: 100%;
  }
</style>
