---
import DownloadButton from "../buttons/DownloadButton.astro";
import { Image } from "astro:assets";
import avatar from "../../images/avatar.webp";
---

<div class="flex flex-col justify-center gap-4 w-fit">
  <div class="bg-[--secondary-border-color] rounded-xl h-fit w-fit p-1">
    <Image
      src={avatar}
      alt="Foto de Gabriel Alberto García Pellizzón"
      title="Foto de Gabriel Alberto García Pellizzón"
      width={300}
      class={"avatar bg-[--secondary-bg-color] rounded-[--nested-radius]"}
    />
  </div>
  <!--  Download CV Button  -->
  <DownloadButton />
</div>

<style>
  .content-avatar {
    --nested-radius: calc(0.75rem - 0.25rem); /* radius outside - padding */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .avatar {
    width: 100%;
  }
  .content-avatar {
    width: 100%;
  }
</style>
