<div {...Astro.props}>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dolorum, hic
    numquam tempore alias iusto iure amet ut id voluptates est illum nihil unde
    suscipit ea soluta laudantium debitis rem.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dolorum, hic
    numquam tempore alias iusto iure amet ut id voluptates est illum nihil unde
    suscipit ea soluta laudantium debitis rem.
  </p>
</div>
