---
import BlueBadge from "../badges/BlueBadge.astro";
import GreenBadge from "../badges/GreenBadge.astro";
import PinkBadge from "../badges/PinkBadge.astro";
import PurpleBadge from "../badges/PurpleBadge.astro";
import RedBadge from "../badges/RedBadge.astro";
import AngularIcon from "./icons/AngularIcon.astro";
import Subtitle from "../utils/Subtitle.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import DotNetIcon from "./icons/DotNetIcon.astro";
import SpringBootIcon from "./icons/SpringBootIcon.astro";
import TypescriptIcon from "./icons/TypescriptIcon.astro";
import { t } from "i18next";
---

<article class="flex flex-col gap-8 relative" {...Astro.props}>
  <Subtitle>{t("ABOUT_ME.LANGUAGES_AND_FRAMEWORKS")}</Subtitle>

  <div
    class="langs flex flex-row gap-y-5 gap-x-5 flex-wrap justify-center items-center"
  >
    <a class="lang" rel="nofollow" href="https://angular.dev/" target="_blank">
      <AngularIcon class="text-red-800 dark:text-red-300" />
      <RedBadge>Angular</RedBadge>
    </a>
    <a
      class="lang"
      rel="nofollow"
      href="https://dotnet.microsoft.com/"
      target="_blank"
    >
      <DotNetIcon class="text-purple-800 dark:text-purple-300" />
      <PurpleBadge>.NET</PurpleBadge>
    </a>
    <a
      class="lang"
      rel="nofollow"
      href="https://www.typescriptlang.org/"
      target="_blank"
    >
      <TypescriptIcon class="text-blue-800 dark:text-blue-300" />
      <BlueBadge>Typescript</BlueBadge>
    </a>
    <a class="lang" rel="nofollow" href="https://astro.build/" target="_blank">
      <AstroIcon class="text-pink-800 dark:text-pink-300" />
      <PinkBadge>Astro</PinkBadge>
    </a>
    <a class="lang" rel="nofollow" href="https://spring.io/" target="_blank">
      <SpringBootIcon class="text-green-800 dark:text-green-300" />
      <GreenBadge>Spring Boot</GreenBadge>
    </a>
  </div>
</article>
<style>
  .lang {
    display: flex;
    flex-direction: column;
    min-width: 90px;
    width: 10%;
    gap: 0.5rem;
    color: var(--secondary-color);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: auto;
  }

  .lang:hover {
    scale: 1.2;
  }

  .lang svg {
    align-self: center;
    width: 60%;
  }
</style>
