---
import GrayBadge from "../badges/GrayBadge.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  techs?: string[];
  url?: string;
}

const model: Props = Astro.props;
---

<a
  href="#"
  class="opacity-100 h-full card-outside p-1 rounded-3xl bg-[--border-color]"
>
  <div
    class="card flex flex-row h-full border overflow-hidden rounded-[--nested-radius] bg-[--secondary-bg-color] text-card-foreground shadow-s"
  >
    <div class="relative card-img w-[680px] h-full">
      <img
        src="./placeholder.svg"
        class="w-full h-full object-cover"
        width="200px"
        height="100px"
        style="aspect-ratio: 16 / 9; object-fit: cover;"
      />
    </div>
    <div class="card-title p-6 flex flex-row items-center w-[30%] gap-4">
      <div class="flex flex-col gap-1 w-full">
        <h3 class="text-2xl font-semibold text-balance leading-none">
          Generic Project
        </h3>
        <div class="flex flex-wrap gap-2 pt-2">
          <span><GrayBadge>Javascript</GrayBadge></span>
          <span><GrayBadge>HTML</GrayBadge></span>
          <span><GrayBadge>Java</GrayBadge></span>
        </div>
      </div>
    </div>
    <div class="card-text p-8 w-[50%] flex">
      <p>
        {model.description}
      </p>
    </div>
  </div>
</a>
<style>
  @media (width <= 310px) {
    .card-img {
      display: none;
    }
    img {
      display: none;
    }
  }
  @media (width <= 1000px) {
    .card {
      flex-direction: column;
      width: 100%;
      margin: auto;
    }
    .card-text {
      width: 100%;
      justify-content: start;
      align-items: start;
      padding: 1rem 2rem;
    }
    .card-title {
      width: 100%;
    }
    .card-img {
      width: 100%;
      min-width: 260px;
      height: auto;
      border-right: none;
    }

    .card-img img {
      width: 100%;
      min-width: 260px;
      height: auto;
    }
  }

  .card-outside {
    --nested-radius: calc(1.5rem - 0.25rem); /* radius outside - padding */
  }
</style>
