---
import Title from "../utils/Title.astro";
import CardProject from "./CardProject.astro";
import type { CardProjectModel } from "./CardProjectModel";
import satix_web_api from "../../images/projects/satix_web.png";
import satix_mobile from "../../images/projects/satix_mobile.png";
import portfolio from "../../images/projects/portfolio.png";
import { t } from "i18next";

const translations: { TITLE: string; DESCRIPTION: string }[] = t(
  "PROJECTS.PROJECTS",
  { returnObjects: true }
);

const data: CardProjectModel[] = [
  {
    title: translations[0].TITLE,
    description: translations[0].DESCRIPTION,
    techs: ["Java", "Spring Boot", "Thymeleaf"],
    image: satix_web_api,
    url: "https://github.com/ShxwZ/SaTix-Web-Api",
  },
  {
    title: translations[1].TITLE,
    description: translations[1].DESCRIPTION,
    techs: ["Java", "Android"],
    image: satix_mobile,
    url: "https://github.com/ShxwZ/SaTix-Android",
  },
  {
    title: translations[2].TITLE,
    description: translations[2].DESCRIPTION,
    techs: ["Astro", "Typescript", "TailwindCSS"],
    image: portfolio,
    url: "https://github.com/ShxwZ/portfolio-astro",
  },
];
---

<div id="projects"></div>
<article class="w-full pt-24 px-4">
  <div class="text-center py-10">
    <Title>Proyectos</Title>
  </div>
  <div class="py-10">
    <div class="flex flex-wrap gap-10 justify-between">
      {data.map((data) => <CardProject data={{ ...data }} />)}
    </div>
  </div>
</article>
