---
import Title from "../utils/Title.astro";
import CardProject from "./CardProject.astro";
import type { CardProjectModel } from "./CardProjectModel";

export const data: CardProjectModel[] = [
  {
    title: "Test Project",
    description: "This is a test project",
    techs: ["Java", "Spring Boot", "Thymeleaf"],
    image: "https://doodleipsum.com/600x201",
    url: "https://google.com",
  },
  {
    title: "Test Project",
    description: "This is a test project",
    techs: ["Java", "Spring Boot", "Thymeleaf"],
    image: "https://doodleipsum.com/400x202",
    url: "https://google.com",
  },
  {
    title: "Test Project",
    description: "This is a test project",
    techs: ["Java", "Spring Boot"],
    image: "https://doodleipsum.com/400x203",
    url: "https://google.com",
  },
  {
    title: "Test Project",
    description: "This is a test project",
    techs: ["Java"],
    image: "https://doodleipsum.com/400x204",
    url: "https://google.com",
  },
];
---

<div id="projects"></div>
<article class="w-full py-32">
  <div class="text-center py-10">
    <Title>Proyectos</Title>
  </div>
  <div class="py-10">
    <div class="flex flex-wrap justify-center gap-5">
      {data.map((data) => <CardProject data={{ ...data }} />)}
    </div>
  </div>
</article>
