---
import Title from "../utils/Title.astro";
import CardProject from "./CardProject.astro";
import type { CardProjectModel } from "./CardProjectModel";
import satix_web_api from "../../images/projects/satix_web_api.webp";
import satix_mobile from "../../images/projects/satix_mobile.webp";
import portfolio from "../../images/projects/portfolio.webp";
export const data: CardProjectModel[] = [
  {
    title: "SaTix Web API",
    description:
      "Aplicación web para la gestión de entradas de eventos. Una solución para evitar la reventa de entradas mediante un sistema de códigos unicos temporales.",
    techs: ["Java", "Spring Boot", "Thymeleaf"],
    image: satix_web_api,
    url: "https://github.com/ShxwZ/SaTix-Web-Api",
  },
  {
    title: "SaTix App",
    description:
      "Aplicación móvil para la gestión de entradas de eventos, con autenticación, posibilidad de apuntarse a eventos, y ver eventos publicados.",
    techs: ["Java", "Android"],
    image: satix_mobile,
    url: "https://github.com/ShxwZ/SaTix-Android",
  },
  {
    title: "Portfolio Astro",
    description:
      "Portfolio creado con Astro y TailwindCSS, con un diseño minimalista.",
    techs: ["Astro", "Typescript", "TailwindCSS"],
    image: portfolio,
    url: "https://github.com/ShxwZ/portfolio-astro",
  },
];
---

<div id="projects"></div>
<article class="w-full pt-24 px-4">
  <div class="text-center py-10">
    <Title>Proyectos</Title>
  </div>
  <div class="py-10">
    <div class="flex flex-wrap gap-5 justify-center">
      {data.map((data) => <CardProject data={{ ...data }} />)}
    </div>
  </div>
</article>
