<div class=`${Astro.props.class} icon`>
  <svg
    id="icon-spark"
    stroke-width="2"
    viewBox="0 0 24 24"
    stroke="currentColor"
    fill="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    aria-label="Star icon"
    role="img"
  >
    <title>Star</title>
    <path
      fill="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m12 3l-1.9 5.8a2 2 0 0 1-1.287 1.288L3 12l5.8 1.9a2 2 0 0 1 1.288 1.287L12 21l1.9-5.8a2 2 0 0 1 1.287-1.288L21 12l-5.8-1.9a2 2 0 0 1-1.288-1.287Z"
    ></path>
  </svg>
</div>
