<svg
  {...Astro.props}
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 960 960"
  xml:space="preserve"
  fill="currentColor"
  aria-label="Logo de Angular"
  role="img"
>
  <title>Angular</title>
  <desc
    >Logo del framework de Angular, compuesto por un escudo con una A blanca en
    el centro.</desc
  >
  <g>
    <polygon points="562.6,109.8 804.1,629.5 829.2,233.1 	"></polygon>
    <polygon points="624.9,655.9 334.3,655.9 297.2,745.8 479.6,849.8 662,745.8 	"
    ></polygon>
    <polygon points="384.1,539.3 575.2,539.3 479.6,307 	"></polygon>
    <polygon points="396.6,109.8 130,233.1 155.1,629.5 	"></polygon>
  </g>
</svg>
