---
interface Props {
  classesOutside?: string;
  classesInside?: string;
}

const { classesOutside = "", classesInside = "" } = Astro.props;
---

<div
  class=`${classesOutside} shadow hover:shadow-none cursor-pointer bg-[--border-button-color] rounded-md p-0.5 hover:filter hover:brightness-[110%] dark:hover:brightness-[160%]`
>
  <div
    class=`${classesInside} button-inside bg-[--secondary-bg-color] overflow-hidden opacity-[85%] hover:opacity-[85%] rounded-[--radius-button] h-full`
  >
    <slot />
  </div>
</div>
<style>
  .button-inside {
    --radius-button: calc(0.375rem - 0.125rem); /* radius outside - padding */
  }
</style>
