<div
  class="bg-[--border-color] rounded-md p-1 hover:filter hover:brightness-[150%]"
>
  <div
    class="bg-[--secondary-bg-color] overflow-hidden opacity-[65%] hover:opacity-[85%] rounded-[--radius-button] h-full"
  >
    <slot />
  </div>
</div>
<style>
  :root {
    --radius-button: calc(0.375rem - 0.25rem); /* radius outside - padding */
  }
</style>
