<div
  class=`${Astro.props.classesOutside} cursor-pointer bg-[--border-button-color] rounded-md p-0.5 hover:filter hover:brightness-[110%]`
>
  <div
    class=`${Astro.props.classesInside} button-inside bg-[--secondary-bg-color] overflow-hidden opacity-[85%] hover:opacity-[85%] rounded-[--radius-button] h-full`
  >
    <slot />
  </div>
</div>
<style>
  .button-inside {
    --radius-button: calc(0.375rem - 0.125rem); /* radius outside - padding */
  }
</style>
