---
import ButtonContainer from "./ButtonContainer.astro";
import DownloadIcon from "./icons/DownloadIcon.astro";
---

<ButtonContainer classesInside="bg-[--bg-button-color]">
  <a
    onclick="playSound()"
    href="/CV.pdf"
    class="flex items-center gap-1 justify-center w-full h-full text-center py-1 px-4"
    download="CV - Gabriel Alberto García Pellizzon.pdf"
  >
    <span class="cursor-pointer w-full h-full text-nowrap font-medium"
      >Descargar CV</span
    >
    <DownloadIcon width="24" height="24" />
  </a>
</ButtonContainer>
