---
import ButtonContainer from "./ButtonContainer.astro";
import DownloadIcon from "./icons/DownloadIcon.astro";
---

<ButtonContainer>
  <div
    class="flex items-center justify-center w-full h-full text-center py-2 px-3"
  >
    <button class="cursor-pointer">Descargar CV</button>
    <DownloadIcon />
  </div>
</ButtonContainer>
