---
import ButtonContainer from "./ButtonContainer.astro";
---

<ButtonContainer classesInside="bg-[--bg-color]">
  <div
    onclick="playSound()"
    class="cursor-pointer bg-[--bg-color] flex items-center justify-center w-full h-full text-center"
  >
    <label id="idiomas" for="langs" class="text-[0px]">Idioma</label>
    <select
      id="langs"
      aria-labelledby="idiomas"
      class="px-4 text-start disabled:opacity-50 disabled:pointer-events-none bg-[--bg-color] border-[--border-color] dark:text-gray-400"
    >
      <option selected lang="es">Español</option>
      <option lang="en">English</option>
    </select>
  </div>
</ButtonContainer>
