---
import ButtonContainer from "./ButtonContainer.astro";
import { LanguageSelector } from "astro-i18next/components";
---

<ButtonContainer classesInside="bg-[--bg-color]">
  <div
    onclick="playSound()"
    class="cursor-pointer bg-[--bg-color] flex items-center justify-center w-full h-full text-center"
  >
    <LanguageSelector
      showFlag={false}
      class="px-4 text-start disabled:opacity-50 disabled:pointer-events-none bg-[--bg-color] border-[--border-color] dark:text-gray-400"
    />
  </div>
</ButtonContainer>
