---
import ButtonContainer from "./ButtonContainer.astro";
---

<ButtonContainer>
  <div
    class="cursor-pointer flex items-center justify-center w-full h-full text-center"
  >
    <select
      id="langs"
      class="px-4 text-start disabled:opacity-50 disabled:pointer-events-none bg-[--secondary-bg-color] border-[--border-color] dark:text-gray-400"
    >
      <option selected>Español</option>
      <option>English</option>
    </select>
  </div>
</ButtonContainer>
