---
interface Props {
  url: string;
  text: string;
}

const { text, url } = Astro.props;
---

<a
  href={url}
  class="flex items-center cursor-pointer h-full bg-[--border-button-color]"
  onclick="playSound()"
>
  <span class="px-2 w-fit">
    {text}
  </span>
</a>
