---
import ButtonContainer from "./ButtonContainer.astro";
import i18next from "i18next";
import LangSelectable from "./LangSelectable.astro";
import LangSelected from "./LangSelected.astro";
const currentLocale = i18next.language;
---

<ButtonContainer classesInside="bg-[--bg-color] ">
  <div
    class="select-lang bg-[--bg-color] justify-between flex items-center w-full h-full text-center"
  >
    {
      currentLocale === "es" ? (
        <LangSelected text="ES" />
      ) : (
        <LangSelectable url="/" text="ES" />
      )
    }
    {
      currentLocale === "en" ? (
        <LangSelected text="EN" />
      ) : (
        <LangSelectable url="/en" text="EN" />
      )
    }
  </div>
</ButtonContainer>
<style></style>
