---
import Title from "../../utils/Title.astro";
import TimelineCard from "./TimelineCard.astro";
import type { TimelineModel } from "./Timeline.model";
import { t } from "i18next";
const data: TimelineModel[] = t("EXPERIENCE.JOBS", {
  returnObjects: true,
});
---

<article class="items-center">
  <div class="justify-center px-4 py-4 pl-8 mx-auto">
    <!--  Title  -->
    <div class="text-center py-10">
      <Title>{t("EXPERIENCE.TITLE")}</Title>
    </div>
    <!--  Time Line Card  -->

    {data.map((item) => <TimelineCard model={item} />)}
  </div>
</article>
