---
//I dont know why i cant use Astro props for tailwind classes here
---

<span
  aria-label="Badge"
  class=`text-xs font-medium me-2 px-2.5 py-0.5 rounded w-full text-center ${Astro.props.class}`
>
  <slot />
</span>
