---
const color = Astro.props.color ?? "blue";
---

<span
    class=`bg-${color}-100 text-${color}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:text-${color}-300 dark:bg-${color}-900`
>
    <slot />
</span>
