---
interface Props {
  padding?: string;
  class?: string;
}

const padding = Astro.props.padding ?? "3rem";
const classes = Astro.props.class;
---

<div class=`${classes} bg-[--border-color] rounded-xl p-1 w-full relative`>
  <div
    class="inside-card bg-[--secondary-bg-color] overflow-hidden rounded-[--nested-radius] h-full w-full"
  >
    <slot />
  </div>
</div>
<style define:vars={{ padding }}>
  .inside-card {
    background-color: var(--secondary-bg-color);
    --nested-radius: calc(0.75rem - 0.25rem); /* radius outside - padding */
    padding: var(--padding);
  }
</style>
