<div class="bg-[--border-color] rounded-3xl p-1">
    <div
        class="bg-[--secondary-bg-color] rounded-[--nested-radius] h-full p-12"
    >
        <slot />
    </div>
</div>
<style is:inline>
    :root {
        --nested-radius: calc(1.5rem - 0.25rem); /* radius outside - padding */
    }
</style>
