---
import CardBackground from "./background/CardBackground.astro";
import { Image } from "astro:assets";
import avatar from "../../images/avatar.png";
---

<div
    class="contact-card relative shadow-xl select-none hover:shadow-2xl hover:scale-[1.03] transition-[box-shadow,transform] duration-200 cursor-pointer overflow-hidden outline outline-[--border-color] max-w-[370px] w-full rounded-md p-5"
>
    <a
        class="opacity-100 hover:opacity-100 w-fit transition-none"
        href="mailto:contact@gabriel-garcia.es"
    >
        <div class="absolute z-[-1] h-full w-full bottom-0 left-0">
            <CardBackground />
        </div>
        <div class="flex flex-col gap-3 mb-10 w-full items-center">
            <div
                class="h-3 shadow-inner rounded-full outline outline-[--border-color] w-[40%] bg-[--bg-color]"
            >
            </div>
            <div class="h-[200px] w-full flex justify-start items-center">
                <Image
                    src={avatar}
                    alt={"Gabriel García"}
                    width={150}
                    class={"rounded-full shadow-inner outline outline-[--border-color] bg-[--bg-color]"}
                />
            </div>
            <div
                class="flex flex-col dark:bg-[--bg-color-light] outline outline-[--border-color] shadow-[inset_0_-2px_2px_rgba(255,255,255,0.6)] dark:shadow-[inset_0_-2px_4px_rgba(0,0,0,0.6)] bg-[--bg-color-dark] w-full p-4 rounded-md dark:text-[--primary-color-light] text-[--primary-color-dark]"
            >
                <div class="flex gap-2 items-center">
                    <h2 class="font-bold text-xl">Gabriel García</h2>
                    <span class="font-thin text-sm">(he/him)</span>
                </div>
                <span class="flex flex-col">
                    <span class="font-medium"
                        >Software <span class="text-[--color-violet-one]"
                            >Developer</span
                        ></span
                    >
                    <div class="flex gap-1 items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            ><path
                                fill="currentColor"
                                d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7l8-5V6l-8 5l-8-5v2z"
                            ></path>
                        </svg>
                        <span>contact@gabriel-garcia.es</span>
                    </div>
                </span>
            </div>
        </div>
    </a>
</div>
