<header class="flex justify-end items-center w-100 p-10 ">
    
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Inicio</a>
        <a href="/">Sobre mí</a>
        <a href="/">Experiencia</a>
        <a href="/">Proyectos</a>
    </nav>
</header>