---
import { t } from "i18next";
---

<footer class="w-full text-center text-[--primary-color] py-2">
  <p class="font-light opacity-75 align-middle">
    {t("FOOTER.NAME")} - <a
      class="underline"
      href="https://github.com/ShxwZ/portfolio-astro"
      target="_blank"
      rel="noopener noreferrer">{t("FOOTER.CREATED_WITH")}</a
    >
  </p>
</footer>
