<div class=`${Astro.props.class} icon`>
  <svg
    xml:space="preserve"
    viewBox="0 0 960 960"
    stroke="currentColor"
    fill="currentColor"
    aria-label="Angular icon"
    aire-hidden="true"
    role="img"
  >
    <title>Angular</title>
    <path
      d="m562.6 109.8 241.5 519.7 25.1-396.4zm62.3 546.1H334.3l-37.1 89.9 182.4 104 182.4-104zM384.1 539.3h191.1L479.6 307zm12.5-429.5L130 233.1l25.1 396.4z"
    ></path>
  </svg>
</div>
