---
import "@fontsource-variable/onest";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		/* Sizes */
		--portfolio-width: 60vw;

		/* Colors */
		--secondary-color: #c7c7c7;
		--color-violet-one: #8332ff;
		--color-violet-two: #451b8c;
		--color-lilac-one: #d8ccf1;
		--bg-card-color: #0d1117;
		--background-color: #050505;

		/* Fonts */
		--font-size-name-title: clamp(
			1.25rem,
			0.7473rem + 2.8723vw,
			5.3125rem
		); /* 60vh - min font 20, max font 85, max vp 2543, min vp 280 */
		--font-size-name-subtitle: calc(var(--font-size-name-title) / 1.7);
		--font-size-title-section: clamp(1.25rem, 1.0953rem + 0.8838vw, 2.5rem);
		--font-size-nav: clamp(0.9375rem, 0.8988rem + 0.2209vw, 1.25rem);
		--font-size-paragraph: clamp(
			0.75rem,
			0.6727rem + 0.4419vw,
			1.375rem
		); /* min font 12, max font 22, max vp 2543, min vp 280 */
		color-scheme: light dark;
		scroll-behavior: smooth;
	}

	p {
		font-size: var(--font-size-paragraph);
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		background: var(--background-color);
	}

	/* Responsive */
	@media (width <= 1250px) {
		:root {
			--portfolio-width: 80vw;
			--font-size-name-title: clamp(
				0.9375rem,
				0.0354rem + 5.1546vw,
				4.0625rem
			); /* 80vh - min font 15, max font 65, max vp 1250, min vp 280  */
		}
	}

	/* Disable animations */
	@media (prefers-reduced-motion) {
		* {
			animation: none !important;
			transition: none !important;
		}
	}
</style>
