---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--secondary-color: #c7c7c7;
		--color-violet-one: #8332ff;
		--color-violet-two: #451b8c;
		--color-lilac-one: #d8ccf1;
		--background-color: #050505;
		--portfolio-width: 60vw;

		color-scheme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--background-color);
	}
</style>
