<div>
  <h2 class="font-bold text-xl text-[--secondary-color]">
    <span class="text-[--color-violet-one]">&#62;</span>
    <slot />
  </h2>
</div>
<style>
  h2 {
    font-size: var(--font-size-subtitle-section);
  }
</style>
